body {
    background-color: aqua;
}

.products {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 28px;
    margin: 20px;
}

.product .title {
    font-size: 26px;
    margin-bottom: 10px;
}

.product .description {
    font-size: 20px;
    margin-bottom: 10px;
}

.product .price {
    font-size: 30px;
    margin-bottom: 10px;
}